body { 
    font-family: 'Arial', sans-serif; 
    background-color: #f4f7f6; 
}

section { 
    padding: 60px 0; 
    border-bottom: 1px solid #ddd; 
}

.img-api {
    max-width: 200px;
}

.ratio {
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #dee2e6;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

#mapa-seccion h3 {
    color: #212529;
    font-weight: 700;
}

.ratio {
    border-radius: 8px;
    overflow: hidden;
}

#contacto {
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.navbar-brand {
    font-weight: bold;
}
